<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I-CHEGA</title>
  <link rel="icon" href="please.png"> <!--For icon on webpage-->
  <!--LINK TO BOOTSTRAP STYLE-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!--LINK TO BOOTSTRAP ICONS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/FormularioStyle.css">
</head>

<body>
  <!-------------------------------------------------------------------------------------------->
  <!--MENU-->
  <nav>
    <a href="/">INICIO</a>
    <a href="/">CATÁLOGO</a>
    <a href="/">OFERTAS</a>
    <a href="/">CONTACTO</a>
  </nav>
  
  <!-------------------------------------------------------------------------------------------->
  <!--LOGO-->
  <div class="logo">
    <a href="/">
      <img src="Photos/ImageLogo.jpg" width="85" height="100" alt="I-CHEGA">
    </a>
  </div>

  <!-------------------------------------------------------------------------------------------->
  <!--LITERARY GENRES-->
  <form>
    <button class="literaryGenres">Autoayuda</button>
    <button class="literaryGenres">Biografía</button>
    <button class="literaryGenres">Cómic</button>
    <button class="literaryGenres">Fantasía</button>
    <button class="literaryGenres">Ficción</button>
    <button class="literaryGenres">Historia</button>
    <button class="literaryGenres">Misterio</button>
    <button class="literaryGenres">Poesía</button>
    <button class="literaryGenres">Romance</button>
  </form>

  <!-------------------------------------------------------------------------------------------->
  <!--SEARCHER-->
  <div class="buscador">
    <button class="botonLupa">Buscar</button>
    <input type="text" placeholder="Busca por título, ISBN...">
    <!--<type> defines a text field-->
    <!--<placeholder> is used to provide a hint of what the user is expected to enter in that space-->
  </div>

  <hr> <!--HORIZONTAL LINE-->

  <!-------------------------------------------------------------------------------------------->
  <!--FORM-->
  <form class="forms" method="post" action="new"> <!--Se envía la información del formulario al servidor--> 
    <h2>¿Eres escritor? Mándanos tu libro <span class="badge bg-primary">¡Nuevo!</span></h2>

    <label for="inputTitle">Título</label>
    <input type="text" class="form-control" id="titulo" placeholder="Luna de Plutón" name='titulo'>
    

    <label for="inputAuthor">Autor</label>
    <input type="text" class="form-control" id="autor" placeholder="Menganito" name='autor'>

    <label for="inputGender">Géneros</label>
    <select id="genero" class="form-control" name='genero'>
      <option selected>...</option>
      <option>Autoayuda</option>
      <option>Aventura</option>
      <option>Biografía</option>
      <option>Cómic</option>
      <option>Fantasía</option>
      <option>Ficción</option>
      <option>Historia</option>
      <option>Literatura</option>
      <option>Misterio</option>
      <option>Poesía</option>
      <option>Romance</option>
      <option>Terror</option>
    </select>

    <label for="inputSinopsis">Sinopsis</label>
    <textarea type="text" class="form-control" id="sinopsis" placeholder="En 1998, en pleno auge de ..."
      rows="4" name='sinopsis'></textarea>

    <label for="inputISBN">ISBN</label>
    <input type="text" class="form-control" id="isbn" name='isbn'>

    <label for="inputPrice">Precio</label>
    <input type="text" class="form-control" id="precio" name='precio'>

    <label for="inputEditor">Editorial</label>
    <input type="text" class="form-control" id="editorial" name='editorial'>

    <label for="inputIdioma">Idioma</label>
    <select id="idioma" class="form-control" name='idioma'>
      <option selected>...</option>
      <option>Alemán</option>
      <option>Castellano</option>
      <option>Francés</option>
      <option>Inglés</option>
      <option>Ruso</option>
    </select>

    <label for="AddPortrait">Añade una portada <i class="bi bi-card-image"></i></label>
    <input type="text" class="form-control" id="imagen" placeholder="URL" name='imagen'>

    <div class="space">
      <label>
        <input type="radio" name="optionRadios" id="optionsRadios1" value="Tapa dura" checked> Tapa dura
      </label>
      <label>
        <input type="radio" name="optionRadios" id="optionsRadios2" value="Tapa blanda" checked> Tapa blanda
      </label>
    </div>

    <button type="submit" class="newButton" onclick='enviarFormulario()'>Guardar</button>
    <a href="/" type="submit" class="newButton">Cancelar</a>    

  </form>



  <footer>
    <p>
        © 2023 OLCHI - Todos los derechos reservados.
        [Enlace a Política de Privacidad] | [Enlace a Términos y Condiciones]
        Dirección: Universidad Rey Juan Carlos, Móstoles, España
        Teléfono: +34 123 456 789
        Email: info@olchi.com
    </p>
</footer>
</body>

</html>