<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLCHI</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>

    <div class="logo">
        <h1>book<br/>best<br/>seller</h1>
    </div>

    <div class="wrapper">
        <section class="intro">
            <div class="line"></div>
        </section>

        <section class="saitama character">
            <div class="block"></div>
            <img src="Photos/monet.png" alt=""><span class="huge-text">Monet</span>
            <div class="caption">
                Oscar-Claude Monet fue un famoso pintor francés, nacido el 14 de noviembre de 1840 y fallecido el 5 de diciembre de 1926. No hay un "Monet de Claude" en el sentido de una persona específica llamada Monet de Claude. El nombre completo del artista es Oscar-Claude Monet. Es conocido principalmente por ser uno de los fundadores del movimiento impresionista en la pintura.
            </div>
            <div class="nickname"><span>Pintura</span>impresionista</div>
            <div class="quote">
                "Fuerza de observación y reflexión lo que uno encuentra en su camino"
            </div>
        </section>

        <section class="genos character">
            <div class="block"></div>
            <img src="Photos/heart.png" alt=""><span class="huge-text">N-C</span>
            <div class="caption">
                La serie "Heartstopper" ha ganado popularidad por su representación positiva de las relaciones LGBTQ+, así como por su enfoque maduro y reflexivo sobre la identidad y las experiencias de los adolescentes. La narrativa es tierna y conmovedora, y la calidad artística de Oseman complementa la historia de manera efectiva.
            </div>
            <div class="nickname"><span>Historia</span>amor</div>
            <div class="quote">
                "This is the best my life has ever seen" - Charlie
            </div>
        </section>

        <section class="hp character">
            <div class="block"></div>
            <img src="Photos/hp.png" alt=""><span class="huge-text">HP</span>
            <div class="caption">
                La historia comienza cuando Harry descubre que es un mago y ha sido aceptado en Hogwarts. A lo largo de la serie, los personajes enfrentan desafíos, descubren secretos sobre sus propios orígenes y luchan contra las fuerzas del mal. Cada libro corresponde a un año académico en Hogwarts, y a medida que los personajes crecen, la trama se vuelve más compleja y oscura.
            </div>
            <div class="nickname"><span>Narración</span>fantástica</div>
            <div class="quote">
                "The ones that love us never really leave us."
            </div>
        </section>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
    <script src="script.js"></script>

</body>
</html>