<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--To make the page fit to the screen width of the customer-->
    <title>OLCHI</title>
    <link type="text/css" rel="stylesheet" href="/css/HomepageStyle.css">
    <link rel="icon" href="/Photos/please.png"> <!--For icon on webpage-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="valoracion.js"></script>    
</head>

<body>
    <!-------------------------------------------------------------------------------------------->
    <!--MENU-->
    <div class="background">
        <a class="menu" href="/">INICIO</a>
        <a class="menu" href="/index">BEST SELLER</a>
        <a class="menu">OFERTAS</a>
        <a class="menu" href="/busqueda">BUSCAR LIBROS</a>
    </div>

    <!-------------------------------------------------------------------------------------------->
    <!--LOGO-->
    <div class="logo">
        <a href="/">
            <img src="/Photos/ImageLogo.jpg" width="85" height="100" alt="I-CHEGA">
        </a>
    </div>

    <!-------------------------------------------------------------------------------------------->
    <!--LITERARY GENRES-->
    <form>
        <!--<form> represents a section of a document that contains interactive controls-->
        <button class="literaryGenres">Autoayuda</button>
        <button class="literaryGenres">Biografía</button>
        <button class="literaryGenres">Cómic</button>
        <button class="literaryGenres">Fantasía</button>
        <button class="literaryGenres">Ficción</button>
        <button class="literaryGenres">Historia</button>
        <button class="literaryGenres">Misterio</button>
        <button class="literaryGenres">Poesía</button>
        <button class="literaryGenres">Romance</button>
    </form>

    <!-------------------------------------------------------------------------------------------->
    <!--SEARCHER-->
    <div class="buscador">
        <button class="botonLupa">Buscar</button>
        <input type="text" placeholder="Busca por título, ISBN...">
        <!--<type> defines a text field-->
        <!--<placeholder> is used to provide a hint of what the user is expected to enter in that space-->
    </div>

    <hr> <!--HORIZONTAL LINE-->

    <main>
        <section class="book-details">
            <!-------------------------------------------------------------------------------------------->
            <!--IMAGE-->
            <div>
                <img src="{{post.imagen}}" alt="Portada del Libro" class="img-fluid">
            </div>
            <!-------------------------------------------------------------------------------------------->
            <!--BOOK DESCRIPTION-->
            <table>
                <div class="book-description">
                    <!--Title-->
                    <h2 class="big-title">{{post.titulo}}</h2>
                    <!--Price-->
                    <div class="price-book">
                        {{post.precio}} €
                    </div>
                    <!--Genres-->
                    <h4>Género:</h4>
                    <div class="genres">{{post.genero}}</div>

                    <!--Synopsis-->
                    <h4>Sinopsis:</h4>
                    <div class="book-sinopsis">
                        {{post.sinopsis}}
                    </div>
                </div>
            </table>
        </section>

        <!--HORIZONTAL LINE-->
        <hr>
        <!-------------------------------------------------------------------------------------------->
        <!--BUTTONS-->
        <div>
            <a class="newButton" href="/editar/{{post.id}}">Editar</a>
            <a class="newButton" href="/post/{{post.id}}/delete">Borrar</a>
            <a class="newButton" href="/">Ver todos los elementos</a>
        </div>

        <!-------------------------------------------------------------------------------------------->
        <!--STARS REVIEW AND BUY BUTTON-->
        <section class="compraYa">
            <button>
                <img src="/Photos/bolsa-de-la-compra.png" alt="bolsa de la compra" width="20" height="20">Comprar
            </button>
        </section>

        <!-------------------------------------------------------------------------------------------->
        <!--TECHNICAL INFORMATION-->
        <h4><u>Ficha técnica del libro:</u></h4>
        <div class="ficha-centrada">
            <section class="ficha-tecnica">
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <th>Editorial:</th>
                                    <td>{{post.editorial}}</td>
                                </tr>
                                <tr>
                                    <th>Idioma:</th>
                                    <td>{{post.idioma}}</td>
                                </tr>
                                <tr>
                                    <th>Tapa:</th>
                                    <td>{{post.optionRadios}}</td>
                                </tr>
                                <tr>
                                    <th>ISBN:</th>
                                    <td>{{post.isbn}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </section>
        </div>

        <!-------------------------------------------------------------------------------------------->
        <!--VALORATIONS-->
        <h4><u>Valoraciones:</u></h4>
        {{#post.valoraciones}}
        <div class="opinion">             
            <h4>{{nombre}}</h4>
            <p>{{comentario}}</p>
            <p>{{estrellas}} ⭐</p>             
        </div>   
        {{/post.valoraciones}}


        <table id="content"> <!--valoraciones--> </table>
    </main>

    <!-------------------------------------------------------------------------------------------->
    <!--REVIEWS-->
    <div class="container">
        <form id="contact" method="post" action="/newValoracion/{{post.id}}">
            <h2>Deja tu comentario:</h2>
            <fieldset>
                <input placeholder="Nombre" type="text" name='nombre'>
            </fieldset>
            <fieldset>
                <textarea placeholder="Escribe aquí tu comentario..." name='comentario'></textarea>
            </fieldset>
            <fieldset>
                <input placeholder="0/5 ⭐" type="text" name='estrellas'>
            </fieldset>
            <div>
                <button type="submit" class="newButton" >Guardar</button>
            </div>
        </form>
    </div>

    <textarea id="commentInput" placeholder="Enter your comment"></textarea>
    <button onclick="generateRandom()">Submit Comment</button>

    <table id="content"></table>
    
    <!-------------------------------------------------------------------------------------------->
    <!--FOOTER-->
    <footer>
        <p>
            © 2023 OLCHI - Todos los derechos reservados.
            [Enlace a Política de Privacidad] | [Enlace a Términos y Condiciones]
            Dirección: Universidad Rey Juan Carlos, Móstoles, España
            Teléfono: +34 123 456 789
            Email: info@olchi.com
        </p>
    </footer>


</body>

</html>