<html>

<body>






	{{^success}} <!--Title-->
	Pon el titulo
	{{/success}}


	{{^success2}}
	Pon el autor
	{{/success2}}

	{{^success3}}
	Pon el genero
	{{/success3}}
	

	{{#bien}}
	El libro se ha guardado correctamente
	<a href="/">Back</a>
	{{/bien}}

	{{^bien}}
	<form action="">
	 <a class="newButton" href="/post/{{post.id}}/delete">Borrar</a>
	</form>
	<table>
		<tr>
			<th>Editorial:</th>
			<td>{{post.editorial}}</td>
		</tr>
		<tr>
			<th>Idioma:</th>
			<td>{{post.idioma}}</td>
	</table>
	{{/bien}}
	

</body>

</html>